@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-orange: #d55b1f;
  --color-brand-yellow: #d4d432;
  --color-brand-lime: #c4cf4a;
  --color-brand-bg: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f5f5; /* Force light mode background for now as per reference */
    --foreground: #333333;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono), monospace;
}
